<div class="container">
  <h2>Register</h2>
  <div class="row">
    <form [formGroup]="registerForm" #registerFormComp="ngForm">
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.touched">
            Name is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
            Username is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
            Password is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
          <mat-error *ngIf="!registerForm.controls.confirmPassword.valid && registerForm.controls.confirmPassword.touched">
            Password is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-primary" (click)="register(registerFormComp)" [disabled]="disable">Register </button>
      </div>
    </form>
  </div>
  <app-alert [messageObj]=message></app-alert>
</div>
