<table mat-table [dataSource]="jsonData" class="mat-elevation-z8">
  <!-- Item Column -->
  <ng-container matColumnDef="productId">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Id </th>
    <td mat-cell *matCellDef="let jsonData" class="text-center"> {{jsonData.productId}} </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
    <td mat-cell *matCellDef="let jsonData" class="text-center"> {{jsonData.productName}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="text-center"> Price </th>
    <td mat-cell *matCellDef="let jsonData" class="text-center"> {{jsonData.price}} </td>
  </ng-container>

  <ng-container matColumnDef="fromDate">
    <th mat-header-cell *matHeaderCellDef class="text-center"> From Date </th>
    <td mat-cell *matCellDef="let jsonData" class="text-center" appCustomDateFormat dateValue={{jsonData.fromDate}}></td>
  </ng-container>

  <ng-container matColumnDef="toDate">
    <th mat-header-cell *matHeaderCellDef class="text-center"> To Date </th>
    <td mat-cell *matCellDef="let jsonData" class="text-center" appCustomDateFormat dateValue={{jsonData.toDate}}></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>