<div>
  <div *ngIf="!loggedIn">
    <app-authenticate></app-authenticate>
  </div>
  <div class="row h-100" *ngIf="loggedIn">
    <div class="col-2 bg-light" >
      <app-nav></app-nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
