<div class="container">
  <h2>Login</h2>
  <div class="row">
    <form [formGroup]="loginForm">
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" required>
          <mat-error *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
            Username is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
            Password is manadatory
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-primary" (click)="login()" [disabled]="disable">Login</button>
      </div>
    </form>
  </div>
  <app-alert [messageObj]=message></app-alert>
</div>
