<div class="container">
  <div class="row">
      <div class="col-lg-6">
        <app-register></app-register>
      </div>
      <div class="col-lg-6">
        <app-login></app-login>
      </div>
    </div>
</div>
