<div class="container">
  <div class="row">
    <form [formGroup]="initialDetailsForm">
      <div class="col-lg-12">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="!initialDetailsForm.controls.name.valid && initialDetailsForm.controls.name.touched">
            You must enter valid data</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <mat-form-field>
          <textarea matInput placeholder="Promotion Notes" formControlName="promotions"></textarea>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="From date" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="!initialDetailsForm.controls.fromDate.valid && initialDetailsForm.controls.fromDate.touched">
            You must enter valid data</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTo" placeholder="To date" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo [startAt]="startDate"></mat-datepicker>
          <mat-error *ngIf="!initialDetailsForm.controls.toDate.valid && initialDetailsForm.controls.toDate.touched">
            You must enter valid data</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-primary" (click)="onSubmit()" [disabled]="disable">Save</button>
      </div>
    </form>
  </div>
  <app-alert [messageObj]=message></app-alert>
</div>