<nav class="navbar">
  <ul class="navbar-nav w-100">
    <li class="nav-item">
      <a class="nav-link text-center" routerLinkActive="active" routerLink="form">Form Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-center" routerLinkActive="active" routerLink="table">Table Page</a>
    </li>
  </ul>
</nav>